@charset "UTF-8";
#NewsTopics ul li{
    margin : 10px;
    border-width: thin;
    border-style: solid;
    border-color: #98c0f1;
}
#GlobalMenu ul li {
    margin : 12px;
}
#NewsTopics ul{
    display: flex;
    list-style: none;
    justify-content: flex-end;
    margin-left: 150px;
    margin-right: 150px;
}

#GlobalMenu ul{
    display: flex;
    border-collapse: separate;
    justify-content: flex-end;
    list-style: none;
    font-size: 16pt;
}

h2.SectionTitle {
    text-align: center;
}
div.bigButton{
    display:flex;
    width:220pt;
    height: 40pt;
    margin-left :auto;
    margin-right:auto;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-width: thin;
    border-color: #f19e98;
}
div.bigButtonFilled{
    display:flex;
    width:220pt;
    height: 40pt;
    margin-left :auto;
    margin-right:auto;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-width: thin;
    background-color: #f19e98;
}
div.bigButtonFilled p{
    color : white;
    font-weight: 1000;
}


#ContactForm {
    height: 100pt;

    margin:30pt;
    padding-top: 50pt;
    background-color:#fae0e8;
}

h2.bigButtonContent{
    color:   #f19e98;
}
p.TopSectionText{
    font-size: 12pt;
}
p.title{
    font-size: 12pt;
}
p.txt{
    font-size: 11pt;
}
