@charset "UTF-8";
#NewsTopics{
    width: 100%;
    background-color:#fff9f9;
    display: flex;
    justify-content: center;
}
div.NewsTopicContents{
    width: 250pt;
    margin : 10px;
    border-width: thin;
    border-style: solid;
    border-color: #98c0f1;
}
#GlobalMenu ul li {
    margin : 12px;
}

#GlobalMenu ul{
    display: flex;
    border-collapse: separate;
    justify-content: flex-end;
    list-style: none;
    font-size: 16pt;
}

h2.SectionTitle {
    text-align: center;
}
div.bigButton{
    width:220pt;
    height: 40pt;
    margin-left :auto;
    margin-right:auto;
    border-style: solid;
    border-width: thin;
    border-color: #f19e98;
    text-align: center;
}


div.bigButtonFilled{
    display:flex;
    width:220pt;
    height: 40pt;
    margin-left :auto;
    margin-right:auto;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-width: thin;
    background-color: #f19e98;
}
div.bigButtonFilled p{
    color : white;
    font-weight: 1000;
}


#ContactForm {
    height: 100pt;
    width: 100%;

    margin:30pt;
    padding-top: 50pt;
    background-color:#feeced;
}

h2.bigButtonContent{
    color:   #f19e98;
}
p.TopSectionText{
    font-size: 12pt;
}
p.title{
    font-weight: bold;
    font-size: 12pt;
}
p.txt{
    font-size: 11pt;
}

div.aboutCompany{
    margin-left: auto;
    margin-right: auto;
    width :100%;
    display : flex;
    justify-content: center;
}
section.whereabouts{
    width: 40%;
}
section.CompanyName{
    width: 40%;
}
div.aboutCompany ul{
    list-style: none;
    text-align:left;
    display: table
}
div.aboutCompany ul div{
    text-align:left;
}
div.Achievement{
    display:flex;
    justify-content: space-between;
    max-width:1000px;
    margin-top:10px;
    padding: 0 4%;
    margin:0 auto;
}
div.ISO_certification{
    display: flex;
    justify-content: space-between;
    max-width:80px;
    margin-top:10px;
    padding: 0 4%;
    margin:0 auto;
}
.contents_wrap{
    margin:0 auto;
    max-width:960px;
}