@charset "UTF-8";
li{
    margin : 10px;
}
#NewsTopics ul{
    display: flex;
    list-style: none;
}
#GlobalMenu ul{
    display: flex;
    border-collapse: separate;
    justify-content: flex-end;
    list-style: none;
    font-size: 14pt;

}

h2.SectionTitle {
    text-align: center;
}
div.topicsTxtArea {
    
}
